*{
    margin:0;
    border:0;
    box-sizing:border-box;
}

body{
    background: linear-gradient(45deg, #d9afff, #8ad8ea);
}

.Workspace {
    background-color: forestgreen;
    min-height: 100vh;
    min-width: 70vw;
    float: left;
}

.Menu {
    min-height: 95vh;
    margin-top:1vh;
    margin-bottom:4vh;
    margin-left: 1vw;
    margin-right: 1vw;
    min-width: 17vw;
    float: right;
    background: rgba(235 ,235 ,255 ,0.6);
    border-radius: 20px;
    border: 2px solid #9c31fe;
}

.MenuCell{
    width: 17vw;
    height: 12.5vh;
}

.LogoCell{
    width: 17vw;
    height: 15vh;
}

.Logo{
    width: 70%;
    height: 100%;
    margin-left: 15%;
}

.HomeLogo{
    margin-top: 32%;
    margin-left: 25%;
    width: 60%;
    height: 50%;
}

.AccountLogo{
    margin-top: 32%;
    margin-left: 25%;
    width: 60%;
    height: 50%;
}

.FavoriteLogo{
    margin-top: 20%;
    margin-left: 15%;
    width: 85%;
    height: 75%;
}

.BasketLogo{
    margin-top: 20%;
    margin-left: 20%;
    width: 70%;
    height: 60%;
}

.NewPostLogo{
    margin-top: 25%;
    margin-left: 25%;
    width: 70%;
    height: 60%;
}

.Circle{
    float: left;
    border-radius: 100% 0 0 100% / 75% 0 0 75%;
    background: white;
    width: 3vw;
    height: 8vh;
    margin-left: 4vw;
}
.Rect{
    float: right;
    background: white;
    width: 10vw;
    height: 8vh;
}

.MenuLink{
    float: left;
    font-size: 1vmax;
    margin-top: 2.7vh;
}

.Menu__links{
    width: 17vw;
    height: 62.5vh;
}

.Background{
    float: left;
    width: 79vw;
    height: 100vh;

}

.Account{
    width: 79vw;
    height: 25vh;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 20px;
    border: 2px solid #9c31fe;
    background-color: white;
}

.MyPosts{
    width: 79vw;
    height:69vh;
    margin-top: 1vh;
    margin-bottom: 4vh;
    margin-left: 1vw;
    border-radius: 20px;
    border: 2px solid #9c31fe;
    background-color: white;
}

.Search{
    width: 54vw;
    height: 5vh;
    margin-top: 1vh;
    margin-left: 16vw;
    margin-right: 1vw;
    border-radius: 20px;
    border: 2px solid #9c31fe;
    background-color: white;
}

.Posts{
    width: 54vw;
    height:89vh;
    margin-top: 1vh;
    margin-bottom: 4vh;
    margin-left: 16vw;
    border-radius: 20px;
    border: 2px solid #9c31fe;
    background-color: white;
}

.FavoritePosts{
    width: 79vw;
    height:95vh;
    margin-top: 1vh;
    margin-bottom: 4vh;
    margin-left: 1vw;
    border-radius: 20px;
    border: 2px solid #9c31fe;
    background-color: white;
}

.BasketPosts{
    width: 54vw;
    height:95vh;
    margin-top: 1vh;
    margin-bottom: 4vh;
    margin-left: 16vw;
    border-radius: 20px;
    border: 2px solid #9c31fe;
    background-color: white;
}

.AddPost{
    width: 54vw;
    height:95vh;
    margin-top: 1vh;
    margin-bottom: 4vh;
    margin-left: 16vw;
    border-radius: 20px;
    border: 2px solid #9c31fe;
    background-color: white;
}

.AddPostTitle{
    height: 47.5vh;
    width: 54vw;
}

.AddImage{
    height: 47.5vh;
    width: 27vw;
    float: left;
}

.AddInfo{
    height: 47.5vh;
    width: 27vw;
    float: right;
}

.AddPostMain{
    height: 47.5vh;
    width: 54vw;
}

.AddDescription{
    height: 41.75vh;
    width: 54vw;
}

.AddButton{
    height: 5.75vh;
    width: 54vw;
}

.FilterButton{
    height: 4vh;
    width: 4vh;
    float: left;
    margin-left: 0.5vw;
    margin-top: 0.2vh;
}

.SearchButton{
    height: 4vh;
    width: 4vh;
    float: right;
    margin-top: 0.2vh;
    margin-right: 0.3vw;
}

.SearchText{
    height: 4vh;
    width: 47vw;
    margin-left: 0.4vw;
    margin-top: 0.1vh;
    font-family: Arial;
    font-size: 1.2vmax;
    border: none;
    outline: none;
}

.SearchText::placeholder{
    transition: opacity 0.7s ease;
    opacity: 0.7;
    color: black;
    font-style: Arial;
}

.pos_listing_prev {
    height: 100%;
    width: 8%;
    float: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.pos_listing_next {
    height: 100%;
    width: 8%;
    float: right;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.width_pos_listing_prev {
    height: 100%;
    width: 5%;
    float: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.width_pos_listing_next {
    height: 100%;
    width: 5%;
    float: right;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.button_left {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 0px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

    .button_left:nth-child(1):hover {
        background: linear-gradient(270deg, #ffffff, #d9afff);;
    }

    .button_right {
        height: 100%;
        width: 100%;
        float: right;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        padding: 0px;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
    }

        .button_right:nth-child(1):hover {
            background: linear-gradient(90deg, #ffffff, #8ad8ea);;
        }

.HomePost{
    height: 100%;
    width: 84%;
    margin-left: 8%;
}

.SeePost{
    height: 100%;
    width: 100%;
}

.DashBoard{
    height: 100%;
    width: 100%;
}

.DashTitle{
    height: 5%;
    width: 100%;
}

.DashName{
    font-family: Arial;
    font-size: 1.2vmax;
    font-weight: bold;
    float: left;
    margin-top: 0.5%;
}

.DashDate{
    font-family: Arial;
    font-size: 0.7vmax;
    float: right;
    margin-top: 0.3%;
}

.DashMain{
    height: 55%;
    width: 100%;
}

.DashPhoto{
    float: left;
    height: 100%;
    width: 70%;
}

.DashIMG{
    height: 100%;
    width: 100%;
}

.DashAccount{
    float: right;
    height: 100%;
    width: 30%;
}

.DashBottom{
    height: 35%;
    width: 100%;
}

.DashMenu{
    height: 15%;
    width: 100%;;
}

.DashPrice{
    float: left;
    height: 100%;
    width: 35%;
    font-family: Arial;
    font-size: 2vmax;

}

.DashAct{
    float: right;
    margin-right: 30%;
    height: 100%;
    width: 35%;
}

.DashDescr{
    width: 70%;
    height: 85%;
}
.DashDescrTitle{
    background: rosybrown;
    height: 10%;;
}
